body{
    margin: 0;
    text-align: center;
}
.top-container{
   background-color:#E4F9F5;
   position: relative;
   padding-top: 100px;
  
} 

.middle-container{
   background-color:#E4F9F5;
   position: relative;
   padding-top: 100px;
  
}

.bottom-cloud{
   position: absolute;
}
.top-cloud{
 position: absolute;
 top: 50px;
 right: 300px;

}
h1{
   font-family: 'Dancing Script', cursive;
   font-size: 5rem;
   margin: 54px;
   color: #66BFBF;


}
h2{
   font-family: 'Italianno', cursive;
   font-size: 2.5rem;
   color: #66BFBF;
   font-weight: normal;
  padding-bottom: 10px;
}
h3{
   color: #11999E;
   line-height: 1;
}
a{
   color: #11999E;
}
.middle-container{
   margin: 100px 0;
}

p{
line-height: 2;
}

hr{  
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%;
   margin: 100px auto;
}

.contact-me{
 
   width: 40%;
   margin: 40px auto 60px;
}


.skill-row{
 width: 50%; 
 margin:100px auto 100px auto;
 text-align: left;
 line-height: 2;
}
.computer{
   width: 25%;
   float: left;
   margin: 30px;
}

.binary{
   width: 25%;
   float: right;
   margin-left: 30px;

}
.profo{
   width: 12%;
}

p{
   line-height: 2;
}

.btn {
   background: #4076c7;
   background-image: -webkit-linear-gradient(top, #4076c7, #105580);
   background-image: -moz-linear-gradient(top, #4076c7, #105580);
   background-image: -ms-linear-gradient(top, #4076c7, #105580);
   background-image: -o-linear-gradient(top, #4076c7, #105580);
   background-image: linear-gradient(to bottom, #4076c7, #105580);
   -webkit-border-radius: 28;
   -moz-border-radius: 28;
   border-radius: 28px;
   font-family: Georgia;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }
 
 .btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4Ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4Ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4Ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4Ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4Ad);
   text-decoration: none;
 }

.bottom-container{
background-color: burlywood;
padding: 50px 0 60px;
}

a{
   color: crimson;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 30px;
    text-decoration: none; 
}
a:hover{
   color: #EAF6F6;
}
.copyright{
   color:#EAF6F6;
   font-size: 0.70px;
   padding: 20px 0;
}